<a href="https://colab.research.google.com/github/ayanmmm/Task_4/blob/main/Copy_of_Assessment2B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###### Assessment

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [25]:
import pandas as pd
import numpy as np
import plotly.express as px

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [26]:
df=pd.read_csv("/content/sample_data/college_1.csv")
df

df1=pd.read_csv("/content/sample_data/college_2.csv")
df1.head()

df2 = pd.concat(map(pd.read_csv, ['/content/sample_data/college_1.csv', '/content/sample_data/college_2.csv']), ignore_index=True)
df2.head(2)

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

In [27]:
Exceeded_expectations = df2[df2['CodeKata Score'] > 15000]
Exceeded_expectations.to_csv('/content/sample_data/Reached_expectations.csv')
Exceeded_expectations

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
84,ASHOK KUMAR K,100.0,31.0,19400,19400,Electronics and Electrical Engineering,0,0.0,9.0

###### if  10000<codekata score<15000   (Reached_expectations.csv)

In [28]:
Reached_expectations=df2[(df2['CodeKata Score']>10000)&(df['CodeKata Score']<15000)]
Reached_expectations.to_csv('/content/sample_data/Reached_expectations.csv')
Reached_expectations

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0,NaN,NaN

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

In [29]:
Needs_Improvement = df2[(df2['CodeKata Score']>7000)&(df['CodeKata Score']<10000)]
Needs_Improvement.to_csv('/content/sample_data/Needs_Improvement.csv')
Needs_Improvement

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0,NaN,NaN
5,NIVEESHWAR S,100.0,0.0,8200,8200,Computer Science and Engineering,0,NaN,NaN
6,KALAIARASAN K,85.0,47.0,7750,7880,Electronics and Communication Engineering,130,NaN,NaN
7,MOHAMED ZUBAIR AHMED,82.0,4.0,7020,7020,Computer Science and Engineering,0,NaN,NaN

###### if  codekate score < 7000        (Unsatisfactory.csv)

In [30]:
Unsatisfactory = df2[df2['CodeKata Score']<7000]
Unsatisfactory.to_csv('/content/sample_data/Needs_Improvement.csv')
Unsatisfactory

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
8,J.SUGANTHI,27.0,50.00,5860,5860,Electronics and Communication Engineering,0,NaN,NaN
9,thamizhpaana,29.0,0.00,5500,5500,Computer Science and Engineering,0,NaN,NaN
10,Iyappan Samiraj,50.0,24.00,5400,5400,Electronics and Communication Engineering,0,NaN,NaN
11,Ponniyamma.R,100.0,11.25,5380,5380,Computer Science and Engineering,0,NaN,NaN
12,SABAPATHI,100.0,0.00,5280,5280,Computer Science and Engineering,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
114,praveen raj j,24.0,0.00,2380,2380,Computer Science and Engineering,0,-1.0,0.0
115,AMARNATH D,-1.0,12.00,1890,1890,Electronics and Communication Engineering,0,52.0,-1.0
116,bala,32.0,0.00,1720,1720,Electronics and Communication Engineering,0,49.0,-1.0
117,XY Z,-1.0,-1.00,0,0,Computer Science and Engineering,0,20.0,-1.0
118,Hariharan,-1.0,-1.00,0,0,Computer Science and Engineering,0,-1.0,0.0

###### Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

In [31]:
df2.columns
greek=df2['Previous Geekions'].mean()
codek=df2['CodeKata Score'].mean()
print("Previous week Geekions : ",greek,"vs Average_of_this_week_Geekions :",codek)

Previous week Geekions :  3842.3529411764707 vs Average_of_this_week_Geekions : 4051.764705882353

###### No of students participated

In [46]:
df2["Name"].count()

119

###### #Average completion of python course or my_sql or python english or computational thinking

In [33]:
df2.columns

pth=df2["python"].mean()
sq=df2["mysql"].mean()
py_en=df2["python_en"].mean()
comp=df2["computational_thinking"].mean()

print("Python Course Average :",pth)
print("MySql Average :",sq)
print("Python English Average :",py_en)
print("Computational Thinking Average :",comp)

Python Course Average : 54.35294117647059
MySql Average : 23.5
Python English Average : 29.65714285714286
Computational Thinking Average : 2.2

###### rising star of the week (top 3 candidate who performed well in that particular week)

In [34]:
rising_star=df2.sort_values(by='Rising' ,ascending=False,ignore_index=True)
rising_star=(rising_star['Name'].head(3))

print("Top 3 candidate who performed well in that particular week")
rising_star

Top 3 candidate who performed well in that particular week

0             shifak N
1       Narasimhan Y L
2    Ganesh Ramkumar R
Name: Name, dtype: object

###### Shining stars of the week (top 3 candidates who has highest geekions)

In [44]:
ss=df2.sort_values(by='Previous Geekions' ,ascending=False,ignore_index=True)
ss=(ss['Name'].head(3))
print("Top 3 candidate who has highest geekions")
ss

Top 3 candidate who has highest geekions

0      A.Dharani
1    V.JEEVITHA
2    HEMAVATHI.R
Name: Name, dtype: object

###### Department wise codekata performence (pie chart)

In [35]:
fig = px.pie(df2,values="CodeKata Score", names= "Department")
fig.show()

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)

In [36]:
df2.fillna(0,inplace=True)
df2

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,0.0,0.0
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,0.0,0.0
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,0.0,0.0
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0,0.0,0.0
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
114,praveen raj j,24.0,0.0,2380,2380,Computer Science and Engineering,0,-1.0,0.0
115,AMARNATH D,-1.0,12.0,1890,1890,Electronics and Communication Engineering,0,52.0,-1.0
116,bala,32.0,0.0,1720,1720,Electronics and Communication Engineering,0,49.0,-1.0
117,XY Z,-1.0,-1.0,0,0,Computer Science and Engineering,0,20.0,-1.0
118,Hariharan,-1.0,-1.0,0,0,Computer Science and Engineering,0,-1.0,0.0

In [37]:
df2.columns
Performance=df2["python"]+df2["mysql"]+df2["Previous Geekions"]+df2["CodeKata Score"]
df2["Performance"]=Performance.round()
per=df2.sort_values(by="Performance",ascending=False,ignore_index=True)
per

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking,Performance
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,0.0,0.0,49102.0
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,0.0,0.0,43582.0
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,0.0,0.0,39560.0
3,ASHOK KUMAR K,100.0,31.0,19400,19400,Electronics and Electrical Engineering,0,0.0,9.0,38931.0
4,Chandru,0.0,0.0,14150,14490,Computer Science and Engineering,340,20.0,0.0,28640.0
...,...,...,...,...,...,...,...,...,...,...
114,BARATH.P,29.0,0.0,0,0,Electronics and Electrical Engineering,0,0.0,0.0,29.0
115,yaser ahamed.A,0.0,27.0,0,0,Electronics and Electrical Engineering,0,0.0,0.0,27.0
116,mohamed nabi,0.0,0.0,0,0,Electronics and Electrical Engineering,0,0.0,0.0,0.0
117,XY Z,-1.0,-1.0,0,0,Computer Science and Engineering,0,20.0,-1.0,-2.0
118,Hariharan,-1.0,-1.0,0,0,Computer Science and Engineering,0,-1.0,0.0,-2.0

In [39]:
fig = px.bar(per,x="Performance", y="Name",color="Department", title="Department Wise Toppers")
fig.show()